@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Autor </strong>@ViewData["Autor"]</p>

<address>
    <strong>Mais informações: </strong><a href="www.robson.com.br">Robson.Br</a>
</address>
